:root {
    --color-navy: #003594;
    --color-gray: #ededed;
    --color-orange: #FF5B41;
    --text-primary: #ffffff;
    --text-secondary: #000000;
    --text-tertiary: #FF5B41;
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
}
