@import "./styles/variables.css";
@import "./styles/fonts.css";

:root {
    --bg-color: var(--color-navy);
    --text-color: var(--text-white);
    --button-bg: var(--color-white);
    --button-border: var(--color-white);
}

html.dark{
    --bg-color: var(--color-white);
    --text-color: var(--color-navy);
    --button-bg: var(--color-navy);
    --button-border: var(--color-navy);
}

.logo-dark {
    display: none;
}

html.dark .logo-dark {
    display: block;
}
html.dark .logo-light {
    display: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Manrope', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
} 

button {
    background-color: var(--button-bg);
    border: 2px solid var(--button-border);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

